# values.yaml
replicaCount: 1
image:
  repository: sj-lab-registry.kr.ncr.ntruss.com/sj-lab-apigateway
  tag: 59
  pullPolicy: IfNotPresent
  pullSecrets:
    - name: ncp-registry-secret

service:
  type: NodePort
  port: 8100
  nodePort: 30089

spring:
  profile: prod

env:
  springProfile: prod
  springConfigLocation: "classpath:/,file:/app/config/"